*{
    font-family: Oxygen;
}
#main{
    box-sizing: border-box;
    border-radius: 100px;
    width: 200px;
    aspect-ratio: 1/1;

    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;

    border: solid 10px purple;
    z-index: 9999;
}
#main>div{
    box-sizing: border-box;
    border-radius: 100px;
    width: calc(100% - 5px);
    aspect-ratio: 1/1;

    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;

    border: solid 10px red;
}
#set{
    position: absolute;
    top: 0px;
    left: 41%;
    right: 0px;
    bottom: 0px;
    margin: auto;

    box-sizing: border-box;
}
.circle{
    box-sizing: border-box;
    border-radius: 100px;
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 5.8%;
    text-align: center;
}
#circle1{
    top: 400px;
    background-color: lightblue;
}
#circle1>p{
    position: absolute;
    top: 30%;
    left: 30%;
}
#circle2{
    top: 800px;
    background-color: plum;
}
#circle2>p{
    position: absolute;
    top: 30%;
    left: 20%;
}
#circle3{
    top: 1200px;
    background-color: lightcoral;
}
#circle3>p{
    position: absolute;
    top: 20%;
    left: 20%;
}
#space{
    height: 50%;
    width: 100%;
    position: absolute;
    top: 1800px;
}