*{
    font-family: Oxygen;
}
#header{
    box-sizing: border-box;
    min-width: 380px;
    min-height: 30px;
    position: absolute;
    font-size: 1vw;
    background-color: white;
    height: 40px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
div>li{
    display: inline-block;
}
#menu{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 10px;
    height: 30px;
    background-color: transparent;
    margin-top: 6px;
    margin-bottom: 10px;
}
#menu>li{
    margin: 7px;
}
#logo{
    position: absolute;
    top: 10px;
    bottom: 0px;
    margin: auto;
    left: 10px;
    width: 100%;
}
#content{
    box-sizing: border-box;
    font-size: 1vw;
    background-color: purple;
    position: absolute;
    top: 40px;
    bottom: 40px;
    margin: auto;
    width: 100%;
}
#side-bar{
    box-sizing: border-box;
    font-size: 3vw;
    position: absolute;
    margin-top: 10px;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
}
#side-bar> a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #f1f1f1;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
#content-body{
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 105px;
    margin-bottom: 10px;

    background-color: whitesmoke;
    height: 100% ;
    width: 88%;
}
#content-body>p{
    box-sizing: border-box;
    alignment: center;
    margin: 10px;
    position: absolute;
    top: 20vw;
}
#gif-bar{
    box-sizing: border-box;
    min-width: 100px;
    position: absolute;
    left: 10px;
    right: 0px;
    top: 10px;
    margin: auto;
    height: calc(100% / 2);
    display: inline-block;
}
#gif-bar>img{
    box-sizing: border-box;
    display: inline;
    width: calc(100% / 3);
    border: solid 1px gray;
    margin-right: -10px;
}
body>footer{
    position: absolute;
    bottom: 0px;

    height: 40px;
    width: 100%;
    background-color: gray;
    text-align: center;
    -webkit-text-fill-color: whitesmoke;
}