body>div{
    height: 500px;
    width: 1000px;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
body>div>div{
    border: solid 1px black;
}
body>div>div:first-child{
    background-color: red;
}
body>div>div:nth-child(2){
    background-color: greenyellow;
}
body>div>div:nth-child(3){
    background-color: blue;
}
body>div>div:nth-child(4){
    background-color: lightgray;
}
body>div>div:nth-child(5){
    background-color: plum;
}
body>div>div:nth-child(6){
    background-color: aqua;
}
body>div>div:nth-child(7){
    background-color: lightcoral;
}
body>div>div:nth-child(8){
    background-color: tomato;
}
body>div>div:nth-child(9){
    background-color: fuchsia;
}
body>div>div:nth-child(10){
    background-color: lightskyblue;
}
body>div>div:nth-child(11){
    background-color: navy;
}
body>div>div:nth-child(12){
    background-color: sienna;
}